{% extends "store/base.html" %}

{% block title %}About{% endblock title %}

{% block content %}

    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">About Us</h1>
                <p class="lead fw-normal text-white-50 mb-0">Welcome to our website</p>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <center>
                <div class="col-8">
                    <p align='justify'>
                        <br><br>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pellentesque mi quis lorem tincidunt, ut pellentesque enim aliquam. Interdum et malesuada fames ac ante ipsum primis in faucibus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla mauris purus, egestas eu enim eget, interdum faucibus tortor. Proin dignissim ornare viverra. Sed commodo dui in quam suscipit aliquet. Aenean quis est ut odio porta ornare. Quisque cursus convallis ligula vel euismod. Etiam non neque bibendum lectus vulputate dignissim eu suscipit nisl. Donec dignissim lacinia porttitor. Pellentesque scelerisque mi ipsum. Sed vel magna vel orci molestie tristique. Fusce placerat lorem ac turpis sollicitudin vehicula.
                        <br><br>
                        Cras at eros libero. Pellentesque tristique leo sed leo semper, vitae vehicula quam scelerisque. Donec nec ligula porta, elementum erat vel, rhoncus mi. In mauris elit, iaculis id nisl ut, dignissim scelerisque felis. Cras semper magna neque, suscipit blandit dui scelerisque quis. Integer sem dolor, molestie facilisis nulla non, venenatis porta ante. Praesent non aliquam velit. Suspendisse molestie efficitur tempor. Quisque vestibulum enim nec dolor elementum pulvinar. Morbi at lacus euismod, blandit ex ac, faucibus ligula. Nullam a risus eget arcu consequat fermentum. 
                        <br><br>
                    </p>
                </div>
            </center>
        </div>
    </div>

{% endblock content %}