{% extends "store/base.html" %}

{% block title %} {{ product.name }} {% endblock title %}

{% block content %}
	<br><br><br>
	
	<center>
		<div class="container">
			<div class="row">        
				<div class="card mb-3">
					<div class="row g-0">
					  	<div class="col-md-4">
							<img src="{{ product.image.url }}" class="img-fluid rounded-start">
					  	</div>
					  	<div class="col-md-8">
							<div class="card-body">
						  		<h5 class="card-title">{{ product.name }}</h5>
						  		<hr>
						  		<p class="card-text">{{ product.description }}</p>
								{% if product.is_sale %}

									<strike>${{ product.price }}</strike> &nbsp; ${{ product.sale_price }}

								{% else %}
							
									<p>${{ product.price }}</p>

								{% endif %}
								<br><br>
								<div class="row justify-content-center align-items-center">
									<div class="col-md-2">Quantity:</div>
									<div class="col-md-2 ">
										<select id="qty-cart" class="form-select">
											<option value="1">1</option>
											<option value="2">2</option>
											<option value="3">3</option>
											<option value="4">4</option>
											<option value="5">5</option>
										</select>
									</div>
								</div>
								
								<br><br>

							</div>
					  	</div>
					</div>
				</div>
			</div>
			<br><br>
			<a class="btn btn-secondary" href="{% url 'home' %}">Back</a>
			<button value="{{ product.id }}" id="add-cart" class="btn btn-secondary">Add To Cart</button>
		</div>
	</center>

	<br><br><br><br><br>


	<script>
		// Check if button is pressed
		// ajax sends data to the backend without refreshing the page
		$(document).on('click', '#add-cart', function(e) {
			e.preventDefault();
			$.ajax({
				type: 'POST',
				url: "{% url 'cart-add' %}",
				data: {
					product_id: $('#add-cart').val(),
					product_qty: $('#qty-cart option:selected').text() ,
					csrfmiddlewaretoken: '{{ csrf_token }}',
					action: 'post',
				},
				
				success: function(json) {
					//console.log(json)
					document.getElementById('cart-quantity').textContent = json.quantity;
					location.reload();
				},

				error: function(xhr, errmsg, err) {

				}

			});
		})

	</script>

{% endblock content %}